    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    .navbar {
        width: 50%;
        height: 20px;
        margin: auto;
    }
    
    .search {
        width: 50px;
        height: 30px;
        float: right;
        font-size: 30px;
        display: flexbox;
        color: red;
        margin-bottom: 500px;
        margin-top: 2%;
        padding-top: 10px;
        margin-right: 280px;
    }
    
    .icon {
        width: 10px;
        height: 20px;
        float: left;
        height: 10px;
        position: absolute;
        color: red;
        padding-top: 10px;
        font-size: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    p {
        width: 50px;
        font-size: 20px;
        padding-left: 40px;
        margin-top: 10px;
    }
    
    h4 {
        width: 20%;
        margin-top: 8px;
        margin-left: 40px;
        padding-bottom: 10px;
    }
    
    .slider {
        width: 30%;
        margin-top: 50px;
        margin-left: 530px;
        position: relative;
        overflow: hidden;
        border-radius: 15%;
        /* border-top: 5%; */
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    
    .images {
        display: flex;
        width: 100%;
    }
    
    .images img {
        height: 340px;
        width: 100%;
        transition: all 0.15s ease;
    }
    
    .images input {
        display: none;
    }
    
    .dots {
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    
    .dots label {
        height: 15px;
        width: 15px;
        border-radius: 70%;
        border: solid gray 3px;
        transition: all 0.15s ease;
        margin: 0 4px;
    }
    
    .dots label:hover {
        background: gray;
    }
    
    #img3:checked~.m3 {
        margin-left: 0%;
    }
    
    #img4:checked~.m4 {
        margin-left: -100%;
    }
    
    #img5:checked~.m5 {
        margin-left: -200%;
    }
    
    #img6:checked~.m6 {
        margin-left: -300%;
    }
    
    .container {
        background-color: white;
        display: flex;
        padding: 1rem;
        justify-content: space-evenly;
        margin-left: 490px;
    }
    
    .box1 {
        width: 200px;
        height: 100px;
        /* background-color: red; */
        padding-right: 60px;
        padding-left: 10PX;
        padding-top: 10px;
        border: 5px solid whitesmoke;
        border-radius: 30px;
        margin: 5px;
    }
    
    .box2 {
        width: 200px;
        height: 100px;
        /* background-color: yellow; */
        padding-right: 50px;
        padding-left: 10PX;
        padding-top: 10px;
        border: 5px solid whitesmoke;
        border-radius: 30px;
        margin: 5px;
    }
    
    .box3 {
        width: 200px;
        height: 100px;
        /* background-color: rosybrown; */
        padding-right: 50px;
        padding-left: 10PX;
        padding-top: 10px;
        border: 5px solid whitesmoke;
        border-radius: 30px;
        margin: 5px;
    }
    
    .box4 {
        width: 200px;
        height: 100px;
        /* background-color: orange; */
        padding-right: 50px;
        padding-left: 10PX;
        padding-top: 10px;
        border: 5px solid whitesmoke;
        border-radius: 30px;
        margin: 5px;
    }
    
    .box5 {
        width: 200px;
        height: 100px;
        /* background-color: green; */
        padding-right: 50px;
        padding-left: 10PX;
        padding-top: 10px;
        border: 5px solid whitesmoke;
        border-radius: 30px;
        margin: 5px;
    }
    
    .container button {
        border: 80%;
        color: red;
        position: absolute;
        border-radius: 70%;
        background-color: white;
        margin-left: 10px;
        margin-top: 15px;
        border: 2px solid red;
        border-radius: 30px;
    }
    
    .container img {
        width: 4 img0px;
        height: 40px;
        margin: 3px;
        margin-right: 10px;
    }
    
    .content {
        width: 600px;
        height: 100px;
        display: flex;
        margin-left: 470px;
        padding: 1rem;
        border: 2px solid whitesmoke;
        border-radius: 20px;
    }
    
    .content h3 {
        width: 400px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 1PX;
        margin-left: 150px;
        position: absolute;
    }
    
    .content button {
        width: 100px;
        height: 40px;
        margin-left: 150px;
        margin-top: 40px;
        position: absolute;
        background-color: white;
        border: 2px solid white;
        border-radius: 20px;
        color: red;
    }
    
    h3 {
        margin-left: 470px;
        margin-top: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .grid-container {
        margin: 0%;
        padding: 0%;
        width: 40%;
        height: 30%;
        margin-left: 350px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .cards img {
        width: 150px;
        height: 120px;
        margin-left: 10px;
        margin-top: 10px;
        border: 2px solid white;
        border-radius: 20px;
    }
    
    .cards h3 {
        width: 200px;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 20px;
        margin-left: 40PX;
        margin-top: 10px;
    }
    
    .grid-container>div {
        padding: 20px;
        margin-left: 10PX;
        padding: 10px;
        text-align: center;
    }
    
    .containers {
        width: 700px;
        margin-left: 450px;
        text-align: center;
        position: relative;
        display: flex;
        background-color: aqua;
        transition: all 1s ease;
    }
    
    .main-card.card {
        display: flex;
    }
    
    .card {
        width: 100%;
        height: 350px;
        text-align: center;
        background-color: antiquewhite;
        margin: 10px;
        border-radius: 6%;
    }
    
    .card-image {
        margin-bottom: 15px;
        background-size: cover;
        margin: 5px;
        padding: 10px;
    }
    
    .car-1 img {
        width: 200px;
        height: 150px;
        border-radius: 9%;
    }
    
    .car-2 img {
        width: 200px;
        height: 150px;
        border-radius: 9%;
    }
    
    .car-4 img {
        width: 200px;
        height: 150px;
        border-radius: 9%;
    }
    
    .car-5 img {
        width: 200px;
        height: 150px;
        border-radius: 9%;
    }
    
    .car-6 img {
        width: 200px;
        height: 150px;
        border-radius: 9%;
    }
    
    .card button {
        width: 60px;
        color: white;
        background-color: red;
        border: 2px solid whitesmoke;
        border-radius: 35%;
    }
    
    .name {
        font-size: larger;
    }
    
    .job {
        font-size: small;
        margin: 10px
    }
    
    .text {
        font-size: medium;
        margin: 5px;
    }
    
    .br {
        font-size: larger;
    }
    
    .button {
        display: flex;
        margin: 20px;
        justify-items: center;
        margin-left: 700px;
    }
    
    .button label {
        width: 15px;
        height: 15px;
        background-color: black;
        margin: 0 4px;
        border-radius: 35%;
    }
    
    .button label.active {
        width: 35px;
    }
    
    #one:checked~.button-label.one {
        width: 35px;
    }
    
    #two:checked~.button-label.two {
        width: 35px;
    }
    
    #two:checked~.button-label.one {
        width: 15px;
    }
    
    #one:checked~.button-label.two {
        width: 15px;
    }